/* 타이틀 yangpa */
@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@500&display=swap');
/* 제목들 */
/* font-family: 'Noto Sans KR', sans-serif; */
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@400&display=swap');
/* 본문들 */
/* font-family: 'Nanum Gothic', sans-serif; */
@import url('https://fonts.googleapis.com/css2?family=Nanum+Gothic&display=swap');

body {
    background-color: rgb(223, 245, 255);
}
.inner-container {
    width: 1400px;
    margin: 0 auto;
    position: relative;
}
/* 헤더 */
.header-box {
    height: 100px;
}
header {
    position: fixed;
    background-color: rgb(223, 245, 255);
    width: 100%;
    height: 85px;
    top: 0;
    z-index: 9999;
}
header .title {
    font-size: 50px;
    position: fixed;
    left: 100px;
    top: 30px;
    font-family: 'Quicksand', sans-serif;
}
header .menuTab {
    position: fixed;
    display: flex;
    flex-direction: row;
    right: 100px;
    font-family: 'Noto Sans KR', sans-serif;
    font-size: 20px;
}
header .menubtn {
    padding: 17px;
    padding-top: 28px;
}
/* 메인 */
.module3 {
    padding-top: 50px;
    padding-bottom: 100px;
    text-align: center;
    font-family: 'Noto Sans KR', sans-serif;
    font-size: 50px;
}
.geainjujae {
    border-bottom: 2px solid black;
    border-top: 2px solid black;
    margin: 0 auto;
    padding-top: 40px;
    text-align: center;
    width: 80vw;
    height: 150px;
}
.geainjujaename {
    font-size: 42px;
    line-height: 60px;
}
.geainjujaeintro {
font-size: 20px;
}
/* 성장일기 */
.geaju3 {
    margin-top: 100px;
    height: 562.5px;
    width: 1000px;
    position: relative;
    left: 200px;
    margin-bottom: 200px;
}
.contain3 {
    width: 14000px;
    transition: 0.5s;
    display: flex;
}
.inner3 {
  width: 1000px;
}
.btnbox3 {
    position: absolute;
    top: 260px;
    width: 1000px;
    display: flex;
    justify-content: space-between;
}
.left3,.right3 {
width: 40px;
height: 40px;
opacity: 0.7;
}
/* 개주프 */
.geaju {
    margin-top: 100px;
    height: 281.25px;
    width: 500px;
    position: relative;
    margin-bottom: 200px;
}
.contain {
    width: 7000px;
    transition: 0.5s;
    display: flex;
}
.inner {
  width: 500px;
}
.btnbox {
    position: absolute;
    top: 120px;
    width: 500px;
    display: flex;
    justify-content: space-between;
}
.left,.right {
width: 40px;
height: 40px;
opacity: 0.7;
}
.txt1 {
text-align: left;
position: absolute;
width: 500px;
right: 100px;
top: 20px;
}
.title1 {
    font-size: 40px;
    line-height: 50px;
}
.intro1 {
    margin-top: 10px;
}
/* 문제정의 */
.geaju2 {
    margin-top: 100px;
    height: 281.25px;
    width: 500px;
    position: relative;
    left: 800px;
    margin-bottom: 200px;
}
.contain2 {
    width: 7000px;
    transition: 0.5s;
    display: flex;
}
.left2,.right2 {
width: 40px;
height: 40px;
opacity: 0.7;
}
.txt2 {
    width: 570px;
text-align: right;
position: absolute;
top: 30px;
}
.title2 {
    font-size: 40px;
    line-height: 50px;
}

.intro2 {
    margin-top: 10px;
    line-height: 24px;
}
/* 주제중심 */
.geaju4 {
    margin-top: 100px;
    height: 281.25px;
    width: 500px;
    position: relative;
    margin-bottom: 200px;
}
.contain4 {
    width: 9000px;
    transition: 0.5s;
    display: flex;
}
.left4,.right4 {
width: 40px;
height: 40px;
opacity: 0.7;
}
.txt4 {
text-align: left;
position: absolute;
right: 50px;
top: 10px;
}
.title4 {
    font-size: 40px;
    line-height: 50px;
}
.intro4 {
    margin-top: 10px;
    width: 500px;
}
/* 푸터 */
footer {
    background-color : #49B8C6;
    height: 100px;
    line-height: 32px;
    font-size: 16px;
    display: flex;
    width: 100%;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}
.team, .email {
    padding: 0 50px;
}